<?php

/* you need to change htdocs/config/config.php.example file content and rename file to config.php: */


//Server time zone
$timeZone = "America/New_York";
date_default_timezone_set($timeZone);

//Time zones select values for UI
//except Browser time and UTC
//full list: https://www.php.net/manual/en/timezones.php
$timeZonesList = [
    'America/New_York',
    'Asia/Novosibirsk',
    'Australia/Brisbane',
    'Pacific/Fiji',
    'America/Argentina/Buenos_Aires',
];

// ID for the shift calendar - used by stats
$calendarId = "googleCalendarId@group.calendar.google.com";

/*
    nagios-api servers list:
         - array key: will be used as button name in UI, as 'server' in DB for storing/retrieving data
         - 'url': nagios-api url
         - 'port': nagios-api port
         - 'hostUrl': nagios host url
         - 'serviceUrl': nagios service url
         - 'fullHostUrl': nagios full host url
         - 'timeZone': nagios server time zone
*/
$serversList = [
    'someServer1' => [
        'url'  => 'http://someurl1.com',
        'port' => '8881',
        'hostUrl' => '/cgi-bin/extinfo.cgi?type=1&host=___host___',
        'serviceUrl' => '/cgi-bin/extinfo.cgi?type=2&host=___host___&service=___service___',
        'fullHostUrl' => '/cgi-bin/status.cgi?hostgroup=all&style=hostdetail',
        'timeZone' => 'UTC',
    ],
    'someServer2' => [
        'url'  => 'http://someurl2.com',
        'port' => '8882',
        'hostUrl' => '/cgi-bin/extinfo.cgi?type=1&host=___host___',
        'serviceUrl' => '/cgi-bin/extinfo.cgi?type=2&host=___host___&service=___service___',
        'fullHostUrl' => '/cgi-bin/status.cgi?hostgroup=all&style=hostdetail',
        'timeZone' => 'America/New_York',
    ],
];


/* mysql config */
$database = [
    'host'   => 'localhost',
    'user'   => 'username',
    'pass'   => 'password',
    'db'     => 'database',
    'prefix' => 'nagiosUI_',
    'port'   => 3306,
];


/*
    begin:      'Service' or 'Status Information' starts with
    everywhere: 'Service' or 'Status Information' have

    remove:      remove markers
    leave:       leave markers
 */
$infoRecordMark = [
    'begin' => [
        'remove' => ['_'],
        'leave'  => ['INFO:', 'NOTICE:'],
    ],
    'everywhere' => [
        'remove' => ['_info_'],
        'leave'  => [],
    ],
];


/* Memcache Host */
$memcacheHost = 'localhost';

/* Memcache Port */
$memcachePort = 12345;

/* memcache key (if you have few nagiosUI) */
$memcacheName = 'nagiosUI';

/* enable/disable memcache usage */
$memcacheEnabled = true;



/* Access control - if enabled: only users who are in /etc/nagios/contacts/contactgroups.cfg or in /etc/nagios/services (contact_groups|contacts) can see alerts */
$accessControl           = false;

/* Super users can see all alerts */
$accessControlSuperUsers = ['admin'];

/* Contact group path */
$accessControlGroupUrl   = '/etc/nagios/contacts/contactgroups.cfg';

/* Services path */
$accessControlServiceUrl = '/etc/nagios/services';




/*
   Long alert notifications list.
       - 'enable_notification': true/false
       - 'notify_about_states': list of alert state to inform, example: array('CRITICAL', 'WARNING')
       - 'notify_about_alerts_longer_than': 30*60 will notify only when alert is longer than 30 min
       - 'remember_notification_for': 30*60 will re-notify in 30 minutes
*/
$longAlertsConfig = array(
    'enable_notification' => true,
    'notify_about_states' => array('CRITICAL'),
    'notify_about_alerts_longer_than' => 30*60,
    'remember_notification_for' => 30*60,
);

/*
   Planned Maintenance template in `planned_templates` table:
      - 'name': template name (visible in planned tab)
      - 'host': maintenance command for host:
          - ${host} will be prompt before activation to add host
          - if you don't want to add host: leave empty or *
      - 'service': maintenance command for service:
          - ${service} will be prompt before activation to add service
          - if you don't want to add service: leave empty or *
      - 'status': maintenance command for status information:
          - ${status} will be prompt before activation to add information status
          - if you don't want to add status: leave empty or *
      - 'time': is Maintenance Time (minutes):
          - if value 0 then will be prompt before activation to add Maintenance Time (minutes)
      - 'comment': is Comment:
          - if value '' then will be prompt before activation to add Comment
      - 'normal': show planned in Normal tab
      - 'server': name from $serversList
*/




