<?php

/* you need to change htdocs/config/config.php.example file
   content and rename file to nagios2Config.php: */


/* status.dat file path */
$statusFile_global        = '/var/log/nagios/status.dat';

/* nagios notes url file path */
$getNotesUrls_cacheFile   = '/domain/tmp/nagios_notes_url.cache';

/* nagios depends file path */
$getDepends_cacheFile     = '/domain/tmp/nagios_depends.cache';

/* nagios alerts critical 50pct file path */
$alertsPercentile_global  = '/domain/tmp/nagios_percentile/alerts_critical_50pct';

/* nagios percentile durations file path */
$durationsFromFile_global = '/domain/tmp/nagios_percentile/durations';

/* nagios xml output path */
$xmlArchive               = '/domain/log/nagios_xml_output/';

/* nagios config file path */
$nagiosConfigFile         = '/cgi-bin/config.cgi';

/* nagios full host url */
$nagiosFullHostUrl        = '/cgi-bin/status.cgi?hostgroup=all&;style=hostdetail';

/* nagios comments url */
$nagiosCommentUrl         = '<a href=url/view.php?id=$2" target="_blank">$1</a>';

/* nagios percentile file path */
$nagiosPercentileUrl      = '/url/tmp/nagios_percentile';

/* nagios.cmd file path */
$nagiosPipe               = '/var/log/nagios/rw/nagios.cmd';

/* url to send user, host and service after QuickAck */
$sendQuickAckDataUrl      = 'http://domain/path/?user=___user___&group=___host___&service=___service___';

/* url to send verify is user online or not. if user is offline quick ack won't be set. */
$isUserOnline = 'http://domain/isOnline?user=___user___';

/* user name/email array for gravatar.com icons. leave default value */
$usersArray = array(
	'dev'      => 'dev@domain.com',
	'admin'    => 'admin@domain.com',
	'default'  => 'djshdsjkhd@dkjshjsh.com',
);

/* Aliases array, needed if user name (for check is user online) is different. In this example to $isUserOnline user will be 'administrator'  */
$userAliases = [
    'admin' => 'administrator',
];

/* grouping by Service count */
$groupByService = 2;

/* grouping by Host count */
$groupByHost    = 11;

/* refresh select values in seconds */
$refreshArray   = [
	[ 'value' =>  '10', 'name' => '10 sec' ],
	[ 'value' =>  '20', 'name' => '20 sec' ],
	[ 'value' =>  '40', 'name' => '40 sec' ],
	[ 'value' =>  '60', 'name' =>  '1 min' ],
	[ 'value' => '120', 'name' =>  '2 min' ],
	[ 'value' => '180', 'name' =>  '3 min' ],
	[ 'value' => '300', 'name' =>  '5 min' ],
	[ 'value' => '600', 'name' => '10 min' ],
];

/* Planned Maintenance file (full path to file) */
$plannedUrl = '/full_path/planned.json';

/*
   Planned Maintenance template:
      - 'name': template name (visible in planned tab)
      - 'host': maintenance command for host:
          - ${host} will be prompt before activation to add host
          - if you don't want to add host: leave empty or *
      - 'service': maintenance command for service:
          - ${service} will be prompt before activation to add service
          - if you don't want to add service: leave empty or *
      - 'status': maintenance command for status information:
          - ${status} will be prompt before activation to add information status
          - if you don't want to add status: leave empty or *
      - 'time': is Maintenance Time (minutes):
          - if value 0 then will be prompt before activation to add Maintenance Time (minutes)
      - 'comment': is Comment:
          - if value '' then will be prompt before activation to add Comment
      - 'normal': show planned in Normal tab
*/

$plannedTemplates = [
    [
        'name'    => 'Server reboot',
        'host'    => '${host}',
        'status'  => '',
        'service' => '',
        'time'    => 60,
        'comment' => '',
        'normal'  => 0,
    ],
    [
        'name'    => 'Log errors',
        'host'    => 'log*',
        'status'  => '',
        'service' => '*error*',
        'time'    => 0,
        'comment' => '',
        'normal'  => 1,
    ],
];

/* Memcache Host */
$memcacheHost = 'localhost';

/* Memcache Port */
$memcachePort = 12345;

/* memcache key (if you have few nagiosUI) */
$memcacheName = 'nagiosUI';

/* enable/disable memcache usage */
$memcacheEnabled = true;

function hostUrl($host) {
	return 'https://monitor.domain.com/nagios/cgi-bin/status.cgi?host='. $host;
}

function serviceUrl($host, $service) {
   if ($service == 'SERVER+IS+UP') {
		return 'https://monitor.domain.com/nagios/cgi-bin/extinfo.cgi?type=1&amp;host='. $host;
	}
	
	return 'https://monitor.domain.com/nagios/cgi-bin/extinfo.cgi?type=2&amp;host='. $host .'&amp;service='. $service;
}

/* Access control - if enabled: only users who are in /etc/nagios/contacts/contactgroups.cfg or in /etc/nagios/services (contact_groups|contacts) can see alerts */
$accessControl           = true;

/* Super users can see all alerts */
$accessControlSuperUsers = ['admin'];

/* Contact group URL */
$accessControlGroupUrl   = '/etc/nagios/contacts/contactgroups.cfg';

/* Services URL */
$accessControlServiceUrl = '/etc/nagios/services';


/*
    begin:      'Service' or 'Status Information' starts with
    everywhere: 'Service' or 'Status Information' have

    remove:      remove markers
    leave:       leave markers
 */
$infoRecordMark = [
    'begin' => [
        'remove' => ['_'],
        'leave'  => ['INFO:', 'NOTICE:'],
    ],
    'everywhere' => [
        'remove' => ['_info_'],
        'leave'  => [],
    ],
];


/* enable/disable last comments for acknowledge and schedule downtime */
$commentsSelect            = false;

/* command example only for host */
$commentsSelectHost        = "mysql -hhost -uuser -ppassword -NB database -e \"select comment, max(logged) last_seen from table where comment != 'temp' AND host = '<host>' group by comment order by last_seen desc limit 10\" 2>&1";

/* command example only for service */
$commentsSelectService     = "mysql -hhost -uuser -ppassword -NB database -e \"select comment, max(logged) last_seen from table where comment != 'temp' AND service = '<service>' group by comment order by last_seen desc limit 10\" 2>&1";

/* command example only for host & service */
$commentsSelectHostService = "mysql -hhost -uuser -ppassword -NB database -e \"select comment, max(logged) last_seen from table where comment != 'temp' AND host = '<host>' AND service = '<service>' group by comment order by last_seen desc limit 10\" 2>&1";


/* insert comment to db on add/remove: Schedule downtime. Leave empty if not needed. */
$plannedInsertActionsToDb = "mysql -hhost -uuser -ppassword database -e \"INSERT INTO table SET logged=__logged__, host='__host__', service='__service__', command='planned', author='__author__', comment='__comment__'\" 2>/dev/null";